body {
  font-family: 'Raleway', sans-serif;
  background-image: linear-gradient(to right,#dddffd , #f1dcf1);
}

.decoratedFont {
  font-family: 'Special Elite', cursive;
}

.container {
  background: #6b54be82;
  color: #233344;
  box-shadow: 10px 10px 10px rgba(0, 0, 89, 0.3);
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 89);
  padding: 10px 2px;
  margin-top: 25px;
  text-align: center;
}

label {
  margin: 0;
}

#message {
  width: 100%;
}

.logo {
  width: 100%;
  max-width: 185px;
}

.btn-outline-secondary:hover {
  background: rgba(0, 0, 89, 0.3);
  border-color: #111133;
}

.btn-outline-secondary {
  color: #233344;
  border-color: #233344;
}

h1 {
  font-size: 3.6rem;
  margin: 0;
  letter-spacing: 0.3rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 400;
}