body {
  font-family: 'Raleway', sans-serif;
  background-image: linear-gradient(to right,#dddffd , #f1dcf1);
}

h1 {
  font-size: 3.6rem;
  margin: 0;
  letter-spacing: 0.3rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 400;
}

.typewriter {
  font-family: 'Special Elite', cursive;
}

.inner-container {
  background: #6b54be82;
  color: #233344;
  box-shadow: 10px 10px 10px rgba(0, 0, 89, 0.3);
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 89);
  padding: 10px 2px;
  margin: 25px 2px 25px 2px;
  text-align: center;
}

label {
  margin: 0;
}

#message {
  width: 100%;
}

.logo {
  width: 100%;
  max-width: 185px;
}

.btn-outline-secondary:hover {
  background: rgba(0, 0, 89, 0.3);
  border-color: #111133;
}

.btn-outline-secondary {
  color: #233344;
  border-color: #233344;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  width: 18px;
  height: 18px;
  outline: none;  
}

.equations {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 3.0rem;
  letter-spacing: 0.3rem;
  word-spacing: 10px;
}

.underline {
  text-decoration: underline;
  font-weight: 100;

  font-size: 2.0rem;
}

@media (max-width: 991.98px) {
  #instruct {
    margin-left: 3px !important;
    margin-right: 3px !important;
  }
}