body {
  font-family: 'Raleway', sans-serif;
  background-image: linear-gradient(to right,#edeffd , #f1dcf1);
}

h1 {
  font-size: 3.6rem;
  margin: 0;
  letter-spacing: 0.3rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 400;
}

h3 {
  font-size: 1.05rem;
}

label {
  margin: 0;
}

label strong, p strong {
  font-size: 1.1rem;
}

a {
  text-decoration: underline;
}

p {
  margin-bottom: 0;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  width: 20px;
  height: 20px;
  outline: none;  
}

#promptAtTop {
  font-size: 2.3rem;
}

#message, #prompt {
  width: 100%;
  outline: none;
}

#prompt {
  background: #44226622;
  border: solid #111133 1px;
}

#prompt::placeholder {
  color: #FFFFFFAA;
}

#output {
  display: none;
}

#inputRequired {
  display: none;
  color: #BB4455;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 7px;
}

#disclaimer {
  font-size: 0.80em;
  margin-bottom: 4px;
  margin-top: 4px;
}

#answerLabel {
  font-size: 2rem;
  font-weight: 700;
  color: #233344;
  background: rgb(208,122,122);
  background: radial-gradient(circle, rgba(208,122,122,0.45) 0%, 
                                     rgba(255,255,255,0.25) 87%);
  border-radius: 6px;
  border: 2px solid rgb(0, 0, 89);
  box-shadow: 10px 10px 10px rgba(0, 0, 89, 0.3);
}

.inner-container {
  background: linear-gradient(217deg, #8b74de42, #6b94be32 70.71%),
              linear-gradient(127deg, #6b24be32, #6b544e32 70.71%),
              linear-gradient(336deg, #ab271572, #8b54de32 70.71%);
  color: #233344;
  box-shadow: 10px 10px 10px rgba(0, 0, 89, 0.3);
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 89);
  padding: 10px 2px;
  margin: 25px 2px 25px 2px;
  text-align: center;
}

.typewriter {
  font-family: 'Special Elite', cursive;
}

.btn-outline-secondary:hover {
  background: rgba(0, 0, 89, 0.3);
  border-color: #111133;
}

.btn-outline-secondary {
  color: #233344;
  border-color: #233344;
}

.equations {
  font-family: 'Comic Neue', cursive;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

.answerLetter {
  font-size: 2.5rem;
  font-family: 'Comic Neue', cursive;
  font-weight: 200;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 3px;
  margin-right: 3px;
  word-spacing: 2rem;
  line-height: 270%;
  border-top: 2px solid #233344;
}

span.noOverline {
  margin-left: 2.2rem;
}

.letter {
  font-family: 'Special Elite', cursive;
  font-size: 3.5rem;
  font-weight: 700;
  color: #BB4455;
  margin-right: 14px;
}

.underline {
  font-size: 4.5rem;
}

.logo {
  width: 100%;
  max-width: 185px;
}

@media (max-width: 992px) and (min-width: 768px)  {
  #instruct {
    margin-left: 3px !important;
    margin-right: 3px !important;
  }
  .letter {
    font-size: 2.5rem;
    margin-right: 2px;
  }
  .equations {
    font-size: 2rem;
  }
  .answerLetter {
    font-size: 1.5rem;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 3px;
    margin-right: 3px;
    word-spacing: 1.5rem;
  }
}

@media (max-width: 777px) {
  #answerLabel {
    margin-left: 8%;
    margin-right: 8%; 
  }
  .answerLetter {
    font-size: 1.5rem;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 3px;
    margin-right: 3px;
    word-spacing: 1.5rem;
  }
}

@media (min-width: 576px) and (max-width: 777px) {
  .col-sm-12 {
    flex: 1 80%;
  }
}

@media print {
  body {
    background: #fff;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  #promptAtTop {
    font-size: 2.9rem;
  }

  #answerLabel {
    margin-top: 3em !important;
    border: 1pt solid black;
    background: none;
  }

  .inner-container {
    background: #fff;
    border: none;
  }

  .letter {
    font-size: 4rem;
    margin-right: 18px;
  }

  .equations {
    font-size: 3rem;
  }

  .col-md-4 {
    margin-top: -0.3em;
  }
  .answerLetter {
    font-size: 2.5rem;
    font-family: 'Comic Neue', cursive;
    font-weight: 200;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 3px;
    margin-right: 3px;
    word-spacing: 2rem;
    line-height: 270%;
    border-top: 2px solid #233344;
  }
}